version: '3.8'

services:
  backend:
    build: ./Backend
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
      - backend_static:/app/static
    env_file:
      - ./Backend/.env.docker
    environment:
      - DEBUG=False
      - DB_HOST=db
    command: sh -c "python manage.py migrate && gunicorn backend.wsgi:application --bind 0.0.0.0:8000"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./Frontend
    ports:
      - "3000:80"
    networks:
      - app-network

  db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=health_monitor
      - MYSQL_USER=root
      - MYSQL_PASSWORD=458222
      - MYSQL_ROOT_PASSWORD=458222
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

volumes:
  mysql_data:
  backend_static:

networks:
  app-network:
    driver: bridge